.top-title-container {
    width: 250px;
    justify-content: center;
    /* background-color: #6610f2; */
}

/* .top-title-container a.navbar-brand {
    color: #FFF;
} */

.navbar-default {
    padding-top:2px;
    padding-bottom:2px;
    /* background-color: #0d6efd; */
}

.navbar-default .navbar-toggler-default {
    border: 0px !important;
}

.body-content {
    height: 100vh;
}

.sidebar-default {
    position: relative;
    height: 100vh;
    font-size: 14px;
    z-index: 1234;
}

.sidebar-default .nav-sidebar {
    overflow: hidden;
    display: block;
    padding: 1rem;
}

.sidebar-default .nav-sidebar:hover {
    overflow-y: auto;
    width: 250px;
}

.page-content {
    height: calc(100vh - calc(120px + 1.5rem));
    overflow-y: auto;
}

.top-content-container .breadcrumb .breadcrumb-item::before,
.top-content-container .breadcrumb .breadcrumb-item a {
    color: #FFF;
    font-size: 12px;
}

.top-content-container .breadcrumb .breadcrumb-item.active a {
    text-decoration: none;
}

.top-content-button-container {
    /* position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

/* .sidebar-default ul.nav li a {
    color:#6610f2;
} */

.sidebar-default .module-name {
    text-transform: uppercase;
    margin-left: 1rem;
    letter-spacing: 2px;
}

.sidebar-default ul.nav li {
    margin-bottom: 6px;
}

.sidebar-default ul.nav li .nav-link .menu-label{
    font-weight: 400;
}

.sidebar-default ul.nav li .nav-link {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    color: #FFF;
}

.sidebar-default ul.nav li .nav-link.active,
.sidebar-default ul.nav li .nav-link:hover {
    background-color:#FFF;
    color:#0d6efd;
    border-radius: 2rem;
}

.sidebar-default ul.nav li.has-submenu .nav-link .fa-caret-down{
    margin-left: 10px;
}

.content-wrapper {
    width: calc(100% - 250px);
}

.content-wrapper.minimize {
    width: calc(100% - 68px);
}

.sidebar-default li .submenu { 
    list-style: none; 
    margin:0;
    padding:0;
    margin-top:5px;
    padding-right: 2rem;
    /* padding-left:2rem; */
}

.sidebar-default:not(.minimize) li .submenu .nav-link,
.sidebar-default.minimize:hover li .submenu .nav-link {
    padding-left: 3rem;
}

.sidebar-default.minimize {
    width: 68px;
    overflow: hidden;
}

.sidebar-default.minimize:not(:hover) .top-title-container {
    justify-content: start;
}

.sidebar-default.minimize:not(:hover) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sidebar-default.minimize:not(:hover) .nav-sidebar {
    padding: 4px;
}

.sidebar-default.minimize:not(:hover) .sidebar-profile .identity {
    display: none;
}

.sidebar-default.minimize:not(:hover) .sidebar-profile .profile-pic {
    width: 38px;
    height: 38px;
}

.sidebar-default.minimize .nav-sidebar {
    overflow: hidden;
}

.sidebar-default.minimize:hover .nav-sidebar {
    overflow-y: auto;
}

.sidebar-default.minimize .module-name {
    opacity: 0;
}

.sidebar-default.minimize:hover .module-name {
    opacity: 1;
}

.sidebar-default.minimize .top-title-container .app-name,
.sidebar-default.minimize .submenu,
.sidebar-default.minimize .fa-caret-down,
.sidebar-default.minimize .menu-label {
    display: none;
}

.sidebar-default.minimize:hover {
    width: 250px;
    position: absolute;
}

.sidebar-default.minimize:hover .top-title-container {
    width: 250px;
}

.sidebar-default.minimize:hover .top-title-container .app-name {
    display: block;
}

.sidebar-default.minimize:hover ~ .top-title-container.minimize .app-name {
    width: 250px;
}

.sidebar-default.minimize:hover ~ .content-wrapper .navbar-default {
    margin-left: 180px
}
.sidebar-default.minimize:hover ~ .content-wrapper{
    width: calc(100% - 68px);
    margin-left: 68px
}

.sidebar-default.minimize:not(:hover) li.nav-item > a {
    width: 60px;
}

.sidebar-default.minimize:not(:hover) li.nav-item > a,
.sidebar-default.minimize:hover .menu-label,
.sidebar-default.minimize:hover .fa-caret-down,
.sidebar-default.minimize:hover .submenu.show {
    display: block;
}

ol.lms-breadcrumb {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol.lms-breadcrumb li {
    display: inline-block;
}

ol.lms-breadcrumb li:not(:last-child)::after {
    content: " / ";
    margin-left: 5px;
    margin-right: 5px;
}

.notifications {
    width: 300px;
}
.notifications h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;
}
.notifications h2 span {
    color: #f00;
}
.notifications-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    cursor: pointer;
}
.notifications-item:hover {
    background-color: #eee;
}
.notifications-item img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px;
}
.notifications-item .text h4 {
    color: #777;
    font-size: 16px;
    margin-top: 3px;
}
.notifications-item .text p {
    color: #aaa;
    font-size: 12px;
}
  

@media screen and (max-width: 799px) {
    .sidebar-default:not(.minimize) {
        display:none !important;
    }
    
    .content-wrapper {
        width: 100%;
    }
}